
:root {
  --primary-color:#e5e5e5;
  --secondary-color:#1C1C1C;
  --tertiary-color: #7f7ba0;
  --quaternary-color: #1a1a1a;
  --quintenary-color: #000;
  --trasparent-color: rgba(0, 0, 0, 0.170);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--tertiary-color);
}

body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

h1 { font-size: 3.2em; line-height: 1.2; }
h2 { font-size: 2.4em; line-height: 1.2; }
h3 { font-size: 2.0em; line-height: 1.1; }
h4 { font-size: 1.6em; line-height: 1.1; }
h5 { font-size: 1.4em; line-height: 1; }
h6 { font-size: 1.2em; line-height: 1; }

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--quaternary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--tertiary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color:#c70000;
    --secondary-color:#e5e5e5;
    --tertiary-color: #7f7ba0;
    --quaternary-color: #717171;
  }
}


/*Core*/
.core {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}

/*Espalha em toda tela*/
.all {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}

/*Separa um flex em linhas*/
.rows {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*Separa um flex em colunas*/
.columns {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/*Centraliza conteúdo*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*Defini hotbar*/
.header {
  display: flex;
  flex: 2;
}

/*Defini conteúdo*/
.main {
  display: flex;
  flex: 14;
}

/*Organização dos links*/
.links {
  width: calc(100vw - 20px);
  height: 100px;
  position: absolute;
  display: flex;
  gap: 50px;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--trasparent-color);
  z-index: 999;
} 